@charset "UTF-8";
/* CSS Document */

html {
  height: 100%; 
}

body {
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.container {
  border: 2px dotted #eaeaea; 
  padding: 25px 15px; 
}

h1,
h2{
  font-family: 'Shadows Into Light', cursive;
}

h2 {
  color: purple; 
}

